/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* @font-face {
  font-family: "Segoe Boot Semilight";
  src: url("/segoeLoaders/assets/fonts/segoe_slboot.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Segoe Boot Semilight Condensed";
  src: url("/segoeLoaders/assets/fonts/segoen_slboot.ttf");
  font-display: swap;
} */
@font-face {
  font-family: "Segoe Mono Boot";
  src: url("/segoeLoaders/assets/fonts/segmono_boot.ttf");
  font-display: swap;
}