@import url("/segoeLoaders/assets/css/fonts.css");

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  scroll-behavior: smooth;
}
* { box-sizing: border-box; }

#replaceText {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  div * { margin: 0; }
}